<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" type="text/css" href="/css/allCss.css"/>

</head>

    <div layout:fragment="content" class="AllList">
    <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="button-container">
        <button class="custom-button" onclick="location.href='/patch/new'">게시글 작성</button>
    </div>
    <div>
        <table class="content-table">
            <thead>
            <tr>
                <th>작성자</th>
                <th>제목</th>
                <th>내용</th>
            </tr>
            </thead>
            <tr th:each="all : ${patchBoard}">
                <td th:text="${all.getMember().getName()}">작성자</td>
                <td th:text="${all.getTitle()}">제목</td>
                <td><a th:href="@{'/patch/' + ${all.getId()}}">확인</a></td>
            </tr>
        </table>
    </div>
</div>

</html>