<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<head>
    <link rel="stylesheet" type="text/css" href="/css/allCss.css"/>
</head>

<div layout:fragment="content" class="AllNewContent">
    <div>
        <form role="form" th:action="@{/money/new}" method="post" th:object="${moneyFormDto}" class="AllNewContent-form" id="moneyFrom">
            <div class="AllNewContent-input">
                <span class="Input-Title">채무자</span>
                <select th:field="*{billId}" class="custom-input">
                    <option value="">채무자 선택</option>
                    <option th:each="bill : ${bills}"
                            th:value="${bill.id}"
                            th:text="${bill.name}"/>
                </select>
                <span th:if="${#fields.hasErrors('billId')}" th:errors="*{billId}"></span>
            </div>
            <div class="AllNewContent-input">
                <span class="Input-Title">빌린 사유</span>
                <input type="text" th:field="*{borrowItemName}" placeholder="빌린 사유를 입력해주세요">
                <span th:if="${#fields.hasErrors('borrowItemName')}" th:errors="*{borrowItemName}" class="errors"></span>
            </div>
            <div class="AllNewContent-input">
                <span class="Input-Title">빌린 돈</span>
                <input type="number" th:field="*{borrowMoney}" placeholder="빌린 돈을 입력해주세요">
                <span th:if="${#fields.hasErrors('borrowMoney')}" th:errors="*{borrowMoney}" class="errors"></span>
            </div>
            <div class="AllNewContent-input">
                <span class="Input-Title">갚은 사유</span>
                <input type="text" th:field="*{payItemName}" placeholder="빌린 사유를 입력해주세요">
                <span th:if="${#fields.hasErrors('payItemName')}" th:errors="*{payItemName}" class="errors"></span>
            </div>
            <div class="AllNewContent-input">
                <span class="Input-Title">갚은 돈</span>
                <input type="number" th:field="*{payMoney}" placeholder="갚은 돈을 입력해주세요">
                <span th:if="${#fields.hasErrors('payMoney')}" th:errors="*{payMoney}" class="errors"></span>
            </div>

            <div class="AllNewContent-button">
                <!-- 버튼을 누르면 JavaScript 함수가 호출됩니다. -->
<!--                <button type="submit" class="custom-button">저장</button>-->
                <button type="button" class="custom-button" onclick="showConfirmation()">저장</button>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>

    <script>
        function showConfirmation() {
            const billIdSelect = document.querySelector('#billId');
            const selectedBillOption = billIdSelect.options[billIdSelect.selectedIndex];
            const selectedBillName = selectedBillOption.textContent;
            const borrowItemName = document.querySelector('input[name="borrowItemName"]').value;
            const borrowMoney = document.querySelector('input[name="borrowMoney"]').value;
            const payItemName = document.querySelector('input[name="payItemName"]').value;
            const payMoney = document.querySelector('input[name="payMoney"]').value;

            const message = `채무자: ${selectedBillName}\n빌린 사유: ${borrowItemName}\n빌린 돈: ${borrowMoney}\n갚은 사유: ${payItemName}\n갚은 돈: ${payMoney}`;

            const moneyForm = document.querySelector('#moneyFrom'); // ID가 "moneyForm"인 form 요소를 선택합니다.

            if (confirm(message)) {
                console.log("얘까지 정상적으로 출력된다---------------------------------");
                moneyForm.submit();
            } else {
                window.location.reload();
            }
        }
        document.querySelector('input[name="borrowMoney"]').value = 0;
        document.querySelector('input[name="payMoney"]').value = 0;
    </script>
</div>
</html>