/*AllList----------------------------------------------------------------------------*/
/*AllContent----------------------------------------------------------------------------*/
/*AllNewContent----------------------------------------------------------------------------*/

/* 오류 메시지 스타일링 */
.errors {
    /* 여기에 원하는 스타일을 추가하세요 */
    color: red; /* 빨간색으로 오류 메시지 스타일링 */
}

/* 확인 링크 스타일링 */
a {
    /* 여기에 원하는 스타일을 추가하세요 */
    color: #b3a297; /* 링크 색상 설정 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

/* 내 장부 확인 버튼 스타일링 */
.nav-item {
    background-color: #b3a297;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    margin-bottom: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.nav-item:hover {
    background-color: #b3a297;
}

/*맨 아래 버튼 정렬 */
.flex-container {
    display: flex;
    justify-content: space-between; /* 아이템들 사이에 여백을 두도록 설정 */
}

.item {
    /* 아이템 스타일링 */
}

/*AllContent----------------------------------------------------------------------------*/

.AllContent {
    /* 여기에 원하는 스타일을 추가하세요 */
    background-color: #f0f0f0; /* 배경색 설정 */
    padding: 20px; /* 패딩 설정 */
    border-radius: 10px; /* 테두리 모서리 둥글게 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    margin: 20px;
    border: 1px solid #ddd;
}

/* 모든 게시판에 적용*/
.AllContent .content-table {
    width: 100%;
    border-collapse: collapse;
}

.AllContent .content-table th {
    background-color: #b3a297;
    color: #fff;
    text-align: left;
    padding: 10px;
}

.AllContent .content-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.AllContent .long-content-div {
    max-width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
}

.AllContent .long-content {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.AllContent .comments-table {
    width: 100%;
    border-collapse: collapse;
}

.AllContent .comments-table th {
    background-color: #b3a297;
    color: #fff;
    text-align: left;
    padding: 10px;
}

.AllContent .comments-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.AllContent .comment-author {
    font-weight: bold;
    color: #b3a297;
    font-size: 12px;
}

.AllContent .comment-content {
    word-wrap: break-word;
    font-size: 14px;
}

.AllContent .text-area {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    resize: vertical;
    min-height: 200px;
}

.AllContent .errors {
    color: #d9534f;
}

/* 댓글 입력 버튼 스타일 */
.AllContent button[type="submit"] {
    background-color: #b3a297;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.AllContent button[type="submit"]:hover {
    background-color: #b3a297;
}

/* 삭제 버튼 스타일 */
.AllContent .delete-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.AllContent .delete-button:hover {
    background-color: #c9302c;
}

.AllContent .comment-delete-button {
    background-color: #d9534f; /* 배경색 설정 */
    color: #fff; /* 글자색 설정 */
    border: none; /* 테두리 없음 */
    padding: 5px 10px; /* 패딩 설정 */
    cursor: pointer; /* 포인터 커서 설정 */
    border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
}

.AllContent .comment-delete-button:hover {
    background-color: #c9302c; /* 호버 시 배경색 변경 */
}

/* 수정 버튼*/
.AllContent .edit-button {
    background-color: #449d44;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.AllContent .edit-button:hover {
    background-color: #449d44; /* 호버 시 배경색 변경 */
}

/* 저장 버튼 스타일링 */
.AllContent .custom-button {
    /* 여기에 원하는 스타일을 추가하세요 */
    background-color: #b3a297; /* 배경색 설정 */
    color: #fff; /* 글자색 설정 */
    padding: 10px 20px; /* 패딩 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
    cursor: pointer; /* 포인터 커서 설정 */
}
/*AllNewContent----------------------------------------------------------------------------*/

/* PnewContent 클래스 스타일링 */
.AllNewContent {
    /* 여기에 원하는 스타일을 추가하세요 */
    background-color: #f0f0f0; /* 배경색 설정 */
    padding: 20px; /* 패딩 설정 */
    border-radius: 10px; /* 테두리 모서리 둥글게 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    margin: 20px;
    border: 1px solid #ddd;
}

/* 입력란 스타일링 */
.AllNewContent-input {
    /* 여기에 원하는 스타일을 추가하세요 */
    margin-bottom: 20px; /* 하단 여백 추가 */
}

/* 제목 입력란 스타일링 */
.AllNewContent-input input[type="text"] {
    /* 여기에 원하는 스타일을 추가하세요 */
    width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞추세요 */
    padding: 10px; /* 패딩 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
}

/* 내용 입력란 스타일링 */
.AllNewContent-input textarea.text-area {
    /* 여기에 원하는 스타일을 추가하세요 */
    width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞추세요 */
    padding: 10px; /* 패딩 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
    resize: vertical; /* 세로 리사이즈 가능하도록 설정 */
}
/* 저장 버튼 스타일링 */
.AllNewContent-button button {
    /* 여기에 원하는 스타일을 추가하세요 */
    background-color: #b3a297; /* 배경색 설정 */
    color: #fff; /* 글자색 설정 */
    padding: 10px 20px; /* 패딩 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
    cursor: pointer; /* 포인터 커서 설정 */
}

.AllNewContent-button button:hover {
    /* 버튼에 호버 시 스타일 변경 */
    background-color: #b3a297; /* 배경색 변경 */
}

/* 제목 입력란 스타일링 */
.AllNewContent .custom-input {
    /* 여기에 원하는 스타일을 추가하세요 */
    border: 1px solid #ccc; /* 테두리 설정 */
    width: 200px; /* 원하는 폭으로 조절 */
    padding: 5px; /* 상하 여백 조절 */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.AllNewContent .custom-button {
    /* 여기에 원하는 스타일을 추가하세요 */
    background-color: #b3a297; /* 배경색 설정 */
    color: #fff; /* 글자색 설정 */
    padding: 10px 20px; /* 패딩 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
    cursor: pointer; /* 포인터 커서 설정 */
}

/* 제목 스타일 */
.AllNewContent .Input-Title {
    font-size: 20px; /* 글자 크기 설정 */
    font-weight: bold; /* 글자 굵기 설정 */
    color: #b3a297; /* 글자 색상 설정 */
}

/* 입력 요소 스타일링 */
.AllNewContent input[type="text"] {
    width: 250px; /* 원하는 폭으로 조절 */
    padding: 5px; /* 상하 여백 조절 */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.AllNewContent input[type="email"] {
    width: 250px; /* 원하는 폭으로 조절 */
    padding: 5px; /* 상하 여백 조절 */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.AllNewContent input[type="password"] {
    width: 250px; /* 원하는 폭으로 조절 */
    padding: 5px; /* 상하 여백 조절 */
    border: 1px solid #ccc;
    border-radius: 5px;
}


/*AllList----------------------------------------------------------------------------*/

/* freeBoardList 클래스 스타일링 */
.AllList {
    /* 여기에 원하는 스타일을 추가하세요 */
    background-color: #f0f0f0; /* 배경색 설정 */
    padding: 20px; /* 패딩 설정 */
    border-radius: 10px; /* 테두리 모서리 둥글게 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    margin: 20px;
    border: 1px solid #ddd;
}

/* 버튼 컨테이너 스타일링 */
.AllList .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* 버튼 스타일링 */
.AllList .custom-button {
    background-color: #b3a297;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.AllList .custom-button:hover {
    background-color: #b3a297;
}

/* 표 스타일링 */
.AllList .content-table {
    width: 100%;
    border-collapse: collapse;
}

/* 표 헤더 스타일링 */
.AllList .content-table th {
    background-color: #b3a297;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* 표 데이터 열 스타일링 */
.AllList .content-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* 짝수 행 배경색 설정 */
.AllList .content-table tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* 링크 스타일링 */
.AllList a {
    color: #b3a297;
    text-decoration: none;
}

.AllList a:hover {
    text-decoration: underline;
}

/*bootStrap nav-var 색상 변경*/

.bg-primary {
    background-color: #b3a297 !important;
}

