<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <div>
        <form role="form" method="post" th:object="${upBoardForm}">
            <div>
                <span>제목</span>
                <input type="text" th:field="*{title}" placeholder="제목을 입력해주세요">
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </div>
            <div>
                <span>내용</span>
                <input type="text" th:field="*{content}" placeholder="내용을 입력해주세요">
                <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
            </div>
            <div>
                <button type="submit" class="button">저장</button>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>
</div>
</html>