<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="/css/allCss.css"/>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        function deleteContent(upBoardId){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/upBoard/" + upBoardId + "/delete";

            $.ajax({
                url      : url,
                type     : "DELETE", // HTTP DELETE 메서드 사용
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                cache   : false,
                success  : function(result, status){
                    location.href='/upBoard';
                },
                error : function(jqXHR, status, error){
                }
            });
        }
    </script>
</th:block>

<div layout:fragment="content" class="AllContent">
    <div>
        <table class="content-table">
            <thead>
            <tr>
                <th>작성자</th>
                <th>제목</th>
            </tr>
            </thead>
            <tr th:each="List : ${upBoard}">
                <td th:text="${List.getMember().getName()}">작성자</td>
                <td th:text="${List.getTitle()}">제목</td>
            </tr>
        </table>
    </div>
    <div class="long-content-div">
        <!-- DB에서 받아온 내용을 <pre> 태그를 사용하여 그대로 표시 -->
        <pre th:text="${upBoard.getContent()}" class="long-content"></pre>
    </div>
    <div class="flex-container">
        <div th:if="${#authentication.name == upBoard.getMember().getEmail()}">
            <button th:onclick="'deleteContent(' + ${upBoard.getId()} + ')'" class="delete-button">삭제</button>
        </div>
        <div th:if="${#authentication.name == upBoard.getMember().getEmail()}">
            <a th:href="@{/upBoard/{id}/edit(id=${upBoard.getId()})}">
                <button class="edit-button">수정</button>
            </a>
        </div>
    </div>

</div>

</html>
