<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <div>
        <table>
            <thead>
            <tr>
                <th>사용자</th>
                <th>요청</th>
            </tr>
            </thead>
            <tr th:each="member : ${members}">
                <td th:text="${member.getName()}">사용자</td>
                <td>
                    <form role="form" method="post">
                        <input type="hidden" th:name="memberId" th:value="${member.getId()}">
                        <button type="submit">등업</button>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</html>