<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <div>
        <table>
            <thead>
            <tr>
                <th>장부</th>
                <th>내역 확인</th>
            </tr>
            </thead>
            <tr th:each="Registres : ${registres}">
                <td th:text="${Registres.getName()}">장부</td>
                <!--        중간에 수정이나 삭제하게되면 어떻게 되는거지...? -->
                <td><a th:href="@{'/registre/list/' + ${Registres.getId()}}">확인</a></td>
            </tr>
        </table>
    </div>
    <div>
        1.
    </div>
</div>
</html>